<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

<!-- wp:astrea/breadcrumb /-->

<!-- wp:query-title {"type":"archive","level":1} /-->

<!-- wp:query {"query":{"postType":"astrea_service","inherit":true}} -->
<div class="wp-block-query">
<!-- wp:post-template -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group">
<!-- wp:post-title {"level":2,"isLink":true} /-->
<!-- wp:post-excerpt /-->
</article>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph -->
<p>現在、取扱業務の情報は準備中です。</p>
<!-- /wp:paragraph -->
<!-- wp:home-link {"content":"トップページに戻る"} /-->
<!-- /wp:query-no-results -->
</div>
<!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
