<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

<!-- wp:astrea/breadcrumb /-->

<!-- wp:query-title {"type":"archive","level":1} /-->

<!-- wp:query {"query":{"postType":"astrea_professional","inherit":true}} -->
<div class="wp-block-query">
<!-- wp:post-template -->
<!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
<article class="wp-block-group">
<!-- wp:post-featured-image {"isLink":false} /-->
<!-- wp:post-title {"level":2,"isLink":false} /-->
<!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"astrea_professional_qualification"}}}}} -->
<p></p>
<!-- /wp:paragraph -->
<!-- wp:post-excerpt /-->
</article>
<!-- /wp:group -->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->

</main>
<!-- /wp:group -->
